:root {
    --timers-height: 85px;
}

.training-table {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    position: relative;
    width: 100%;
}
.training-table__cell {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    text-align: center;
    padding: 5px;
    z-index: 1;
}
.training-table__cell--timers {
    width: 100%;
    max-width: var(--max-width);
    height: var(--timers-height);
    position: fixed;
    z-index: 2;
    display: flex;
}
.training-table__cell--exercise {
    margin-top: var(--timers-height);
    width: 60%;
}
.training-table__cell--sets {
    margin-top: var(--timers-height);
    width: 40%;
}