.button--arrow {
    position: fixed;
    top: 13px;
    left: 5px;
    font-size: 26px;
    padding: 3px;
    color: var(--main-text-color);
    opacity: 0.8;
    z-index: 999;
}

@media screen and (min-width: 800px) {
    .button--arrow {
        left: calc(50% - 395px)
    }
}