/* exercise checker */
.checker {
    padding-bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.checker__current-exs {
    font-size: 18px;
    cursor: pointer;
    max-width: 80%;
}
.checker__btn {
    padding: 15px 5px;
    border-radius: 5px;
}
.exercise__sets {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: 16px;
}
/* exercise input */
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input__text {
    font-size: 18px;
    margin-right: 10px;
}
.input__text--small {
    font-size: 14px;
}
label.input__container {
    margin-top: 5px;
}
.input__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
}
.input__container--column {
    flex-direction: column;
}
.input__input {
    height: 30px;
    font-size: 18px;
    padding: 2px 5px;
}
.input__input--weight {
    width: 125px;
}
.input__input--repeats {
    width: 50px;
}
.input__input--time {
    min-width: 70px;
}
.input__btn-submit {
    margin-top: 25px;
}