.header {
    width: 100%;
    max-width: inherit;
    height: 78px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bbb;
    position: fixed;
    top: 0;
}
.header__text {
    font: inherit;
    font-size: 24px;
}