.training-table {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    position: relative;
}
.training-table__cell {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    height: 80%;
    text-align: center;
    padding: 5px;
}
.training-table__cell--timer {
    width: 50%;
    height: 20%;
}
.training-table__cell--exercise {
    width: 55%;
}
.training-table__cell--sets {
    width: 45%;
}