/*************** main table ***************/
.training-table {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    position: relative;
}
.training-table__cell {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    height: 80%;
    text-align: center;
    padding: 5px;
}
.training-table__cell--timer {
    width: 50%;
    height: 20%;
}
.training-table__cell--exercise {
    width: 55%;
}
.training-table__cell--sets {
    width: 45%;
}

/*************** close button ***************/
.training-table__button {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -60px;
    left: 5px;
}
.training-table__button::before, .training-table__button::after {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 5px;
    border-top: 5px solid var(--light-color);
    position: absolute;
}
.training-table__button::before {
    transform: rotate(45deg);
}
.training-table__button::after {
    transform: rotate(-45deg);
}