.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user__text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user__text span {
    margin-left: 10px;
}
.user__text--column {
    flex-direction: column;
}
.user__text--column span {
    margin-top: 5px;
}
.user__button {
    padding: 5px 10px;
}
.user__checkbox {
    width: 25px;
    height: 25px;
    margin: 0;
    margin-left: 25px;
}