:root {
    --main-bg-color: #fff;
    --second-bg-color: #f55;
    --main-color: #222;
    --light-color: #777;
    --lighter-color: #eee;
    --max-width: 800px;
}

body, header, main, footer, h2, h3, ul, li, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--main-bg-color);
}
li {
    list-style-type: none;
}
button {
    border: none;
    background-color: transparent;
    font: inherit;
}