:root {
  --main-bg-color: #333;
  --second-bg-color: #61dafb;
  --main-text-color: #ddd;
  --second-text-color: #333;
  --modal-bg-color: #666;
  --modal-text-color: #fff;
  --wrapper-bg-color: rgba(0,0,0,.85);
  --max-width: 800px;
  --header-footer-height: 65px;
}

body, header, main, footer, h2, h3, ul, li, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg-color);
}
li {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}
input, select {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding-left: 5px;
}