.workout-data {
  font-size: 18px;
  margin: 10px;
}
.workout-data__header {
  font-size: 20px;
  margin: 0;
}
.workout-data__text {
  font-size: inherit;
  margin: 0;
}
.workout-data ol {
  margin: 0;
}